<div class="profile-container">
  <!-- EXAMPLE TOP NAV -->
  <div class="topnav" style = "background:#7E50FF">
    <div class="logo">DECHAT ES1B</div>
    <div class="menu-item">
      <div>
        <i class="far fa-address-book"></i>
      </div>
      Contacts
    </div>
    <div class="menu-item">
      <div>
        <i class="far fa-comments"></i>
      </div>
      Chats
    </div>
    <div class="menu-item">
      <div>
        <i class="fas fa-id-card"></i>
      </div>
      Log Out
    </div>

    <div class="profile-menu" (click)="logout()" >
        <i class="fas fa-sign-out-alt fa-2x" style="padding-top: 7px; padding-left: 10px"></i>
    </div>
  </div>
    
  <!-- CONTACT LIST -->
    <div class="contact-list">
        <h1>My Contacts</h1>
        <ul>
            <li *ngFor="let contact of contacts">
                <span class="contact-card">{{contact.user.firstname}}</span>
                {{contact.user.email}}
                <div class="friend-chat-button-container">
                    <button class="friend-chat-button" onclick="loadChat(contact)"
                    style = "background:#7E50FF">Chat</button>
                </div>
            </li>
        </ul>
    </div>

  <!-- MAIN CHAT SCREEN -->
  <div class="chat-screen-container" *ngIf="!loadingProfile">
    <div class="message-list-container">
       <!-- message list should be built here -->
    </div>
    <input type="text" class="message-text-field" name="message" placeholder="Write something..." />     
    <div class="send-message-button-container">
        <button class="send-button" onclick="onSubmit(message-text-field.value)"
        style = "background:#7E50FF">Enviar</button>
    </div>
</div>