<div class="login-page">

  <!-- APP LOGO -->
  <div style="margin-top:60px;">
    <i class="fas fa-comments" style="font-size: 140px;color:#7E50FF"></i>

  </div>

  <!-- APP NAME -->
  <h1 style= "color:#7E50FF">
    Dechat_ES1B
  </h1>

  <!-- LOGIN TITLE -->
  <h2>
    Login with Solid Identity
  </h2>

  <!-- PROVIDER SELECTION -->
  <div style="margin-top: 10px;">
    <ng-select class="login-select"
               bindLabel="name"
               bindValue="loginUrl"
               placeholder="Select ID Provider"
               dropdownPosition="bottom"
               [items]="identityProviders"
               [(ngModel)]="selectedProviderUrl"
               style="width: 360px; height: 48px; margin-left: auto; margin-right: auto;">

      <!-- DROPDOWN TEMPLATE -->
      <ng-template ng-option-tmp let-item="item">
        <div style="height:40px; padding-top:10px; position: relative;">
          <img [src]="item.image" style="float: left; height: 32px; width: 32px; margin-top:-5px;" />
          <span style="float: left; margin-left: 10px;">{{ item.name }}</span>
          <div style="clear: both;"></div>
          <div class="item-divider"></div>
        </div>
      </ng-template>

    </ng-select>
    <input type="text"
           class="wide-text"
           *ngIf="selectedProviderUrl===null"
           placeholder="Enter WebID"
           style="margin-top:10px; padding: 12px 10px; width: 340px; height: 16px; display: block; margin-left: auto; margin-right: auto;"
           [(ngModel)]="customProviderUrl" />
    <button class="wide-button" (click)="onLogin()" *ngIf="selectedProviderUrl !== undefined || customProviderUrl !== undefined" [disabled]="selectedProviderUrl===null && !customProviderUrl" style="margin-top:10px;background:#7E50FF">Go</button>
  </div>

  <!-- REGISTRATION -->
  <div class="registration-link">
    <p style="margin: 12px;">Don't have a Solid Identity?</p>
    <button class="wide-button" (click)="goToRegistration()" style = "background:#7E50FF">Register</button>
  </div>

  <!-- HELP -->
  <div style="margin-top: 48px;">
    <a href="https://solid.mit.edu" target="_blank" class="small-link">
      <i class="fas fa-info-circle"></i> What is a Solid Identity?
    </a>
  </div>

</div>
  

