<!DOCTYPE html>
<html>
<head>
    <title>DeChat ES1B</title>
</head>

<body>
    <input type="button" id="login" value="Login" />
    <input type="button" id="logout" value="Logout" />
    <input type="button" id="friends" value="List friends" />
</body>

<script src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="solid-query-ldflex.bundle.js"></script>
<script src="../scripts/index.js"></script>


</html>